Web/SMV.Interoperabilidad.Web/Service References/ServicioIntermedio/SMV1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://srv2008.conasev.gob.pe/ServicioInter/SMV.ServicioInteroper.WCF.ServiceIO.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SMV.ServicioInteroper.WCF" />
  <xs:element name="ReniecConsultaDNI">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SMV.ServicioInteroper.WCF" minOccurs="0" name="request" nillable="true" type="q1:ReniecConsultaDNIRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReniecConsultaDNIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SMV.ServicioInteroper.WCF" minOccurs="0" name="ReniecConsultaDNIResult" nillable="true" type="q2:ReniecConsultaDNIResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InpeAntecedentesPenales">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SMV.ServicioInteroper.WCF" minOccurs="0" name="request" nillable="true" type="q3:InpeAntecedentesPenalesRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InpeAntecedentesPenalesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SMV.ServicioInteroper.WCF" minOccurs="0" name="InpeAntecedentesPenalesResult" nillable="true" type="q4:InpeAntecedentesPenalesResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PJAntecedentesJudiciales">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SMV.ServicioInteroper.WCF" minOccurs="0" name="request" nillable="true" type="q5:PJAntecedentesJudicialesRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PJAntecedentesJudicialesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SMV.ServicioInteroper.WCF" minOccurs="0" name="PJAntecedentesJudicialesResult" nillable="true" type="q6:PJAntecedentesJudicialesResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MininterAntecedentesPoliciales">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SMV.ServicioInteroper.WCF" minOccurs="0" name="request" nillable="true" type="q7:MininterAntecedentesPolicialesRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MininterAntecedentesPolicialesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SMV.ServicioInteroper.WCF" minOccurs="0" name="MininterAntecedentesPolicialesResult" nillable="true" type="q8:MininterAntecedentesPolicialesResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SunarpTitularidadBienes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SMV.ServicioInteroper.WCF" minOccurs="0" name="request" nillable="true" type="q9:SunarpTitularidadBienesRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SunarpTitularidadBienesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SMV.ServicioInteroper.WCF" minOccurs="0" name="SunarpTitularidadBienesResult" nillable="true" type="q10:SunarpTitularidadBienesResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SunarpVigenciaPoder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SMV.ServicioInteroper.WCF" minOccurs="0" name="request" nillable="true" type="q11:SunarpVigenciaPoderRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SunarpVigenciaPoderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/SMV.ServicioInteroper.WCF" minOccurs="0" name="SunarpVigenciaPoderResult" nillable="true" type="q12:SunarpVigenciaPoderResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SunarpListaAsiento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/SMV.ServicioInteroper.WCF" minOccurs="0" name="request" nillable="true" type="q13:SunarpListaAsientoRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SunarpListaAsientoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/SMV.ServicioInteroper.WCF" minOccurs="0" name="SunarpListaAsientoResult" nillable="true" type="q14:SunarpListaAsientoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SunarpVerImagenAsiento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/SMV.ServicioInteroper.WCF" minOccurs="0" name="request" nillable="true" type="q15:SunarpVerImagenAsientoRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SunarpVerImagenAsientoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/SMV.ServicioInteroper.WCF" minOccurs="0" name="SunarpVerImagenAsientoResult" nillable="true" type="q16:SunarpVerImagenAsientoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuneduGradosTitulos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/SMV.ServicioInteroper.WCF" minOccurs="0" name="request" nillable="true" type="q17:SuneduGradosTitulosRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuneduGradosTitulosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/SMV.ServicioInteroper.WCF" minOccurs="0" name="SuneduGradosTitulosResult" nillable="true" type="q18:SuneduGradosTitulosResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MigracionesCarnetExtranjeria">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/SMV.ServicioInteroper.WCF" minOccurs="0" name="request" nillable="true" type="q19:MigracionesCarnetExtranjeriaRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MigracionesCarnetExtranjeriaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/SMV.ServicioInteroper.WCF" minOccurs="0" name="MigracionesCarnetExtranjeriaResult" nillable="true" type="q20:MigracionesCarnetExtranjeriaResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>