Web/SMV.Interoperabilidad.Web/Service References/AccesoSeguridad/SeguridadService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SeguridadService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://srv2008.conasev.gob.pe:8081/SMV.Seguridad.WCF.SeguridadService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISeguridadService_ValidarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidarUsuario" />
  </wsdl:message>
  <wsdl:message name="ISeguridadService_ValidarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadService_RegistrarAcceso_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarAcceso" />
  </wsdl:message>
  <wsdl:message name="ISeguridadService_RegistrarAcceso_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarAccesoResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadService_RegistrarSalida_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarSalida" />
  </wsdl:message>
  <wsdl:message name="ISeguridadService_RegistrarSalida_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarSalidaResponse" />
  </wsdl:message>
  <wsdl:message name="ISeguridadService_ListarOpUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarOpUsuario" />
  </wsdl:message>
  <wsdl:message name="ISeguridadService_ListarOpUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarOpUsuarioResponse" />
  </wsdl:message>
  <wsdl:portType name="ISeguridadService">
    <wsdl:operation name="ValidarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/ISeguridadService/ValidarUsuario" message="tns:ISeguridadService_ValidarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISeguridadService/ValidarUsuarioResponse" message="tns:ISeguridadService_ValidarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegistrarAcceso">
      <wsdl:input wsaw:Action="http://tempuri.org/ISeguridadService/RegistrarAcceso" message="tns:ISeguridadService_RegistrarAcceso_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISeguridadService/RegistrarAccesoResponse" message="tns:ISeguridadService_RegistrarAcceso_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegistrarSalida">
      <wsdl:input wsaw:Action="http://tempuri.org/ISeguridadService/RegistrarSalida" message="tns:ISeguridadService_RegistrarSalida_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISeguridadService/RegistrarSalidaResponse" message="tns:ISeguridadService_RegistrarSalida_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarOpUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/ISeguridadService/ListarOpUsuario" message="tns:ISeguridadService_ListarOpUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISeguridadService/ListarOpUsuarioResponse" message="tns:ISeguridadService_ListarOpUsuario_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Default" type="tns:ISeguridadService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidarUsuario">
      <soap:operation soapAction="http://tempuri.org/ISeguridadService/ValidarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarAcceso">
      <soap:operation soapAction="http://tempuri.org/ISeguridadService/RegistrarAcceso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarSalida">
      <soap:operation soapAction="http://tempuri.org/ISeguridadService/RegistrarSalida" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarOpUsuario">
      <soap:operation soapAction="http://tempuri.org/ISeguridadService/ListarOpUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SeguridadService">
    <wsdl:port name="Default" binding="tns:Default">
      <soap:address location="http://10.0.100.82:8081/SMV.Seguridad.WCF.SeguridadService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>